/* Mac Shell - Menu Bar, Dock, Desktop (Phase 2) */

.mac-desktop {
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect width="100" height="100" fill="%235b9fd7"/></svg>') center/cover;
    font-family: var(--mac-font, 'Lucida Grande', sans-serif);
}

.mac-menubar,
.mac-dock {
    /* To be implemented in Phase 2, Commit 3 */
}